{{define "root"}}
	<!DOCTYPE html>
	<html lang="en">

		<head>
			<title>{{block "title" .}}Home{{end}} - Code search guide</title>
            <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
			<link rel="stylesheet" type="text/css" href="{{asset "docsite.css"}}" />
            <script src="{{asset "docsite.js"}}"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1" />

			{{block "head" .}}{{end}}
		</head>

        <!-- Default to light theme if no JavaScript -->
		<body class="theme-light">
			<aside id="sidebar">
                <header>
				    <h1 id="logo"><a href="/">
					  Code search guide
                    </a></h1>
					<a href="https://github.com/sourcegraph/codesearchguide.org" class="wip-badge" title="Work in progress">WIP</a>
                </header>
                <nav id="sections" class="links sidebar">
                    <div class="nav-section tree">
                        <h2 class="sr-only">Sections</h2>
                        {{renderMarkdownContentFile .ContentVersion "toc.md"}}
                    </div>
                </nav>
				<div class="spacer"></div>
				<a class="toc-link" href="/toc">Table of contents</a>
				<form id="search-form" method="get" action="/search">
                    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
				    <input type="text" id="search" name="q" value="{{block "query" .}}{{end}}" placeholder="" spellcheck="false" aria-label="Query" />
                    <input type="hidden" name="v" value="{{block "version" .}}{{end}}">
				    <button id="search-button" type="submit" aria-label="Search" class="sr-only">Search</button>
				</form>
                <div id="theme">
                    <div>
                    <button type="button" data-theme-preference="auto">Auto</button>
                    <button type="button" data-theme-preference="light">Light</button>
                    <button type="button" data-theme-preference="dark">Dark</button>
                    </div>
                </div>
			</aside>

            <div id="page" class="container">
			    <main>
					{{block "content" .}}{{end}}
			    </main>
                <footer>
                    <nav class="links external">
                        <ul>
                            <li><a href="https://github.com/sourcegraph/codesearchguide.org">About this site</a></li>
						    <li>Contributions and comments are welcome from all. Maintained by <a href="https://sourcegraph.com">Sourcegraph</a>.</li>
							<li><a rel="license" class="text-muted" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">License: Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a></li>
                        </ul>
                    </nav>
                </footer>
            </div>
		</body>
	</html>
{{end}}
